<app-loader [hidden]="!isLoading">
</app-loader>
<div class="row" [hidden]="isLoading">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
          <div class="card-header">
            <h4 class="pull-left">Studies</h4>
            <button (click)="runAlgorithm()" [promiseBtn]="studiesPromise" type="button" class="btn btn-primary pull-right">Run Algorithm</button>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Patient ID</th>
                  <th scope="col">Patient Name</th>
                  <th scope="col">Gender</th>
                  <th scope="col">DOB</th>
                  <th scope="col">Modality</th>
                  <th scope="col">Proc Description</th>
                  <th scope="col">Proc DateTime</th>
                  <th scope="col">Accession #</th>
                  <th scope="col" class="text-right">Priority</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of studies">
                  <td>{{item.patientId}}</td>
                  <td>{{item.patientName}}</td>
                  <td>{{item.gender}}</td>
                  <td>{{item.dob}}</td>
                  <td>{{item.modality}}</td>
                  <td>{{item.procedureDescription}}</td>
                  <td>{{item.procedureDateTime}}</td>
                  <td>{{item.accessionNumber}}</td>
                  <td class="text-right">
                    <span class="badge badge-primary badge-pill">{{item.studyPriority}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
