.navbar-custom {
    margin-bottom:20px;
    & .navbar-brand {
        padding:0;
    }
}

.logo-container {
    display: inline-block;
    position: relative;

    & .logo {
        width: 30px;
        height: 30px;;
        overflow: hidden;
        line-height:30px;
        float: left;
      }

    & .title {
        float: right;
        line-height: 33px;
    }
  }
  